Repository tmphat1312/tmphat-virtual-resume: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint, pnpm format, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,astro}": ["pnpm lint", "pnpm format"],
  "*.{json,md}": "prettier --write"
}

chore: pin node version in package.json
  package.json
Due: prettier --write

chore: dump more words
  .vscode/cspell.json
Due: prettier --write

chore: add some more metadata
  package.json
Due: prettier --write

chore: dump TODO glob
  .gitignore
Due: none

chore(ci): add action to lint and test
  .github/workflows/lint-and-test.yaml
  package.json
Due: prettier --write

chore(ci): add dependabot
  .github/dependabot.yaml
Due: none

fix: remove cache
  .github/workflows/lint-and-test.yaml
Due: none

feat: add dark mode toggle button
  src/components/dark-mode-toggle.astro
  src/layouts/default.astro
  src/layouts/head.astro
  src/pages/index.astro
  src/styles/globals.css
  tailwind.config.mjs
Due: pnpm lint, pnpm format

fix: reorder format command to precede lint command
  .lintstagedrc.json
Due: prettier --write

fix: remove prettier-plugin-tailwindcss because of its imcompatibility with other plugins
  .prettierrc.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add local vscode settings
  .vscode/settings.json
Due: prettier --write

feat: add smooth scrolling behavior
  src/layouts/default.astro
Due: pnpm lint, pnpm format

feat: add main section layout
  .vscode/cspell.json
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  public/profile-image.webp
  src/components/button-link.astro
  src/components/card.astro
  src/components/icon-link.astro
  src/components/sections/main.astro
  src/components/tag.astro
  src/icons/facebook.svg
  src/icons/github.svg
  src/icons/linkedin.svg
  src/pages/index.astro
  src/scripts/initialize-tooltips.ts
  src/utils/class-name.ts
  src/utils/first-cap.ts
  tailwind.config.mjs
Due: pnpm lint, pnpm format, prettier --write

feat: complete main card
  src/components/button-link.astro
  src/components/description.astro
  src/components/icon-links.astro
  src/components/tag-list.astro
  src/icons/document.svg
  src/layouts/default.astro
  src/layouts/head.astro
  src/pages/index.astro
  src/sections/main/document-nav.astro
  src/sections/main/index.astro
Due: pnpm lint, pnpm format

refactor: add semantics to lint and check format commands
  .github/workflows/lint-and-test.yaml
  package.json
Due: prettier --write

feat: add fancy dark mode toggle button
  src/components/dark-mode-toggle.astro
  src/icons/dark-mode.svg
  src/icons/light-mode.svg
  src/pages/index.astro
Due: pnpm lint, pnpm format

wip: add skills section prototype
  src/components/card.astro
  src/components/icon-link.astro
  src/components/icon-links.astro
  src/components/icon-tag.astro
  src/components/skill-tag.astro
  src/components/tag.astro
  src/components/typography.astro
  src/icons/astro.svg
  src/icons/english.svg
  src/icons/info.svg
  src/icons/japanese.svg
  src/icons/javascript.svg
  src/icons/mui.svg
  src/icons/react.svg
  src/icons/rust.svg
  src/icons/svelte.svg
  src/icons/tailwindcss.svg
  src/icons/typescript.svg
  src/icons/vietnamese.svg
  src/pages/index.astro
  src/scripts/initialize-tooltips.ts
  src/sections/main/details.astro
  src/sections/main/index.astro
  src/sections/main/main-section.astro
  src/sections/skills/already-know.astro
  src/sections/skills/languages.astro
  src/sections/skills/levelled-skill.astro
  src/sections/skills/skills-section.astro
  src/sections/skills/want-to-learn.astro
  tailwind.config.mjs
Due: pnpm lint, pnpm format

chore: port new vscode config from zenith
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tailwind.json
Due: prettier --write

chore: port some raw code from zenith
  .editorconfig
  .nvmrc
  .vscode/cspell.json
  LICENSE
  favicons.data.json
  package.json
  pnpm-lock.yaml
  public/fallback-favicon.svg
  public/favicon.svg
  public/profile-image.webp
  tsconfig.json
Due: prettier --write

chore: port github issue template from zenith
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

chore: bump some more words
  .vscode/cspell.json
Due: prettier --write

chore: remove cspell config
  .gitignore
  .vscode/cspell.json
Due: prettier --write

chore: add settings to auto sort imports on save
  .vscode/settings.json
Due: prettier --write

refactor: rename some commands
  .github/workflows/lint-and-test.yaml
  package.json
Due: prettier --write

chore: add yaml extension to lint-staged
  .lintstagedrc.json
Due: prettier --write

chore: configure site url
  astro.config.mjs
Due: none

chore: disable linting
  .lintstagedrc.json
  package.json
Due: prettier --write

fix: add exit command
  cli/helpers.ts
  package.json
Due: pnpm lint, pnpm format, prettier --write

fix: update check command
  .github/workflows/lint-and-test.yaml
Due: none

chore: remove pdf command
  cli/commands/pdf.ts
  cli/index.ts
Due: pnpm lint, pnpm format

chore: remove blank lines
  cli/commands/build.ts
  cli/commands/generate.ts
  cli/helpers.ts
Due: pnpm lint, pnpm format

refactor: clean import statements
  cli/commands/favicons.ts
Due: pnpm lint, pnpm format

feat: format generated astro metadata
  cli/commands/favicons.ts
Due: pnpm lint, pnpm format

refactor: format and do something on colors command :))
  cli/commands/colors.ts
  package.json
  src/styles/fonts/inter.astro
  tailwind.config.mjs
Due: pnpm lint, pnpm format, prettier --write

fix: remove desc about pdf command
  cli/index.ts
Due: pnpm lint, pnpm format

chore: add colors to check command
  package.json
Due: prettier --write

chore: format md text
  README.md
Due: prettier --write

refactor: rename generate colors command
  package.json
Due: prettier --write

refactor: clean up icon component
  package.json
  pnpm-lock.yaml
  src/components/icon/icon.astro
  src/components/icon/icons-store.ts
Due: pnpm lint, pnpm format, prettier --write
